<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <!--Nav Logo-->
    <a href="" class="cs-logo cs-desktop" aria-label="back to home">
        <div class="cs-logo-wrapper">
            <!--Default Logo-->
            <img class="cs-default" src="/assets/svgs/logos/logo-dark.svg" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
        </div>
    </a>
    <div class="cs-middle">
        <!--Top Bar-->
        <div class="cs-top-bar">
            <ul class="cs-location">
                <li class="cs-item cs-remove">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-pin1.svg" alt="icon" width="20" height="20" aria-hidden="true" decoding="async">
                    23332 River Road, Maple Ridge, BC V2W 1B6
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-clock1.svg" alt="icon" width="20" height="20" aria-hidden="true" decoding="async">
                    Mon - Sat: 8:30am - 5:00pm |
                    Sun: 10:00am - 5:00pm
                </li>
            </ul>
        </div>
        <div class="cs-bottom-bar">
            <a href="" class="cs-logo cs-mobile" aria-label="back to home">
                <div class="cs-logo-wrapper">
                    <!--Default Logo-->
                    <img class="cs-default" src="/assets/svgs/logos/logo-dark.svg" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
                </div>
            </a>
            <!--Navigation List-->
            <nav class="cs-nav" role="navigation">
                <!--Mobile Nav Toggle-->
                <button class="cs-toggle" aria-label="mobile menu toggle">
                    <div class="cs-box" aria-hidden="true">
                        <span class="cs-line cs-line1" aria-hidden="true"></span>
                        <span class="cs-line cs-line2" aria-hidden="true"></span>
                        <span class="cs-line cs-line3" aria-hidden="true"></span>
                    </div>
                </button>
                <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
                <div class="cs-ul-wrapper">
                    <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                        <li class="cs-li">
                            <a href="/" class="cs-li-link cs-active">
                                Home
                            </a>
                        </li>
                        <li class="cs-li">
                            <a href="/about/" class="cs-li-link">
                                About Us
                            </a>
                        </li>
                        <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                        <li class="cs-li cs-dropdown" tabindex="0">
                            <span class="cs-li-link">
                                Products
                                <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arrow-dwon2.svg" alt="dropdown icon" width="24" height="24" decoding="async" aria-hidden="true">
                            </span>
                            <ul class="cs-drop-ul">
                                <li class="cs-drop-li">
                                    <a href="" class="cs-li-link cs-drop-link">Windows & Patio Doors</a>
                                </li>
                                <li class="cs-drop-li">
                                    <a href="" class="cs-li-link cs-drop-link">Interior Doors</a>
                                </li>
                                <li class="cs-drop-li">
                                    <a href="" class="cs-li-link cs-drop-link">Exterior Doors</a>
                                </li>
                                <li class="cs-drop-li">
                                    <a href="" class="cs-li-link cs-drop-link">Commercial Doors</a>
                                </li>
                                <li class="cs-drop-li">
                                    <a href="" class="cs-li-link cs-drop-link">Kitchen & Bathroom Cabinets</a>
                                </li>
                                <li class="cs-drop-li">
                                    <a href="" class="cs-li-link cs-drop-link">Other</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cs-li cs-dropdown" tabindex="0">
                            <span class="cs-li-link">
                                Services
                                <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arrow-dwon2.svg" alt="dropdown icon" width="24" height="24" decoding="async" aria-hidden="true">
                            </span>
                            <ul class="cs-drop-ul">
                                <li class="cs-drop-li">
                                    <a href="" class="cs-li-link cs-drop-link">Salvage</a>
                                </li>
                                <li class="cs-drop-li">
                                    <a href="" class="cs-li-link cs-drop-link">Delivery</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cs-li">
                            <a href="" class="cs-li-link">
                                Gallery
                            </a>
                        </li>
                        <li class="cs-li">
                            <a href="/contact/" class="cs-li-link">
                                Contact
                            </a>
                        </li>
                        <li class="cs-li">
                            <a href="/blog/" class="cs-li-link">
                                New Arrivals
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <a class="cs-nav-button cs-tablet" href="">
                <picture class="cs-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-phone1.svg" alt="icon" width="24" height="24">
                </picture>
                <div class="cs-info">
                    <span class="cs-header">Contact Us</span>
                    <span class="cs-link-content">(604) 380-2111</span>
                </div>
            </a>
            <a href="" class="cs-button-border">
                Get In Touch
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/up-right-arrow.svg" alt="icon" width="20" height="20">
            </a>
        </div>
    </div>
    <div class="cs-contact-wrapper">
        <a class="cs-desktop-button" href="">
            <picture class="cs-wrapper">
                <img class="cs-button-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-phone1.svg" alt="icon" width="24" height="24">
            </picture>
            <div class="cs-info">
                    <span class="cs-header">Contact Us</span>
                    <span class="cs-link-content">(604) 380-2111</span>
                </div>
        </a>
    </div>
</header>
                                